<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Getting Started:  Serving Web Content</title>
</head>
<body>
<form method="POST">
    <table align="center"></table>
    <tr>
        <td>
            <label path="username">Username</label>
        </td>
        <td>
            <input path="username" name="username" id="username"/>
        </td>
        </tr>

        <tr>
        <td>
            <label path="password">Password</label>
        </td>
        <td>
            <input password path="password" name="password" id="password"/>
        </td>
        </tr>

        <tr>
        <td>
            <label path="firstname">Firstname</label>
        </td>
        <td>
            <input  path="firstname" name="firstname" id="firstname"/>
        </td>
        </tr>

        <td>
            <label path="lastname">Lastname</label>
        </td>
        <td>
            <input  path="lastname" name="lastname" id="lastname"/>
        </td>
        </tr>

        <tr>
            <td>
                <label path="EmailId">EmailId</label>
            </td>
            <td>
                <input  path="EmailId" name="EmailId" id="EmailId"/>
            </td>
        </tr>

    <tr>
            <td>
                <label path="Phone">Phone</label>
            </td>
            <td>
                <input  path="Phone" name="Phone" id="Phone"/>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <button  id="register" name="Register">Register</button>
            </td>
        </tr>
</form>
</body>
</html>